.footer {
  border-top: 1px solid var(--rs-color-border-base-primary);
  padding: var(--rs-space-5) var(--rs-space-7);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.copyright {
  color: var(--rs-color-foreground-base-secondary);
}

.links {
  flex-wrap: wrap;
}

.link {
  color: var(--rs-color-foreground-base-secondary);
  font-size: 14px;
}

.link:hover {
  color: var(--rs-color-foreground-base-primary);
}
