.details {
  border: 1px solid var(--rs-color-border-base-primary);
  border-radius: var(--rs-radius-2);
  margin: var(--rs-space-5) 0;
}

.trigger {
  font-weight: 500;
  font-size: var(--rs-font-size-small);
}

.content {
  padding: var(--rs-space-4) var(--rs-space-5);
}
