
.Sidebar {
  min-width: 280px;
  height: 100%;
  padding: 8px 16px;
}

.itemList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subMenuTitle {
  font-weight: 700;
  margin: 8px 0;
  display: inline-block;
}

.sidebarItem {
  text-decoration: none;
  color: unset;
  margin: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}