.openapiWrapper {
  background-color: 'grey';
}

.apiBlock {
  display: flex;
}

.apiInfoSection {
  flex: 1;
  margin: 8px;

  .title {
    font-size: 22px;
    margin-bottom: 8px;

  }

  .description {
    font-size: 16px;
  }
}

.apiDataSection {
  flex: 1
}

.apiMethodAndPath {
  display: flex;
  background-color: black;
  color: white;
  align-items: center;

  .apiMethod {
    padding: 8px;
    text-transform: uppercase;
  }

  .apiPath {
    padding: 8px;
  }
}